* {
  box-sizing: border-box;
}

.app-name {
  font-size: 1.5rem;
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: Merriweather, serif;
}

.text-merriweather {
  font-family: Merriweather, serif;
}

.text-opensans {
  font-family: 'Open Sans', sans-serif;
}

.input-container {
  margin-top: 50%;
}

.search-results {
  height: 200px;
}

.med-info {
  font-family: Merriweather, serif;
}

.content {
  padding-top: 80px;
}

@media screen and (width >= 800px) {
  .layout-center {
    width: 800px;
    margin: 0 auto;
  }
}
